.bio-fragment-select  > .bio-panel-content {

    & > .searchbar {
        padding: 0.4em 1em;
    }
    & .list {
        overflow-y: auto;
        & > ul {
            margin: 0.5em 0;
            list-style-type: none;
            background-image: none;
             & li {
                text-align: center;
                margin: 0.3em 1em;
            }
        }
    }
}

