@def_color: hsl(0,40%,50%);
@fragHeight: 1.5em;

.bio-fragment
{
    position: relative;
    display: inline-block;
    min-width: 10em;
    height: @fragHeight;
    background-image: none;
    cursor: pointer;
    font: 0.75em Verdana sans-serif;
    font-size: (@fragHeight / 2);
    line-height: 100%;

    & > svg{
        z-index: 0;
    }

    & > div{
        .arrow_top(white, @def_color, 7px, 1px);
        top: @fragHeight + 0.5em;
        left: -1em;
        right: -1em;
        padding: 0 0.5em;
        border-color: inherit;
        cursor: auto;
        z-index: 100;
    }
    & > div > div {
        padding: 0.5em 0;
    }
    & > div a
    {
        display: block;
        &:hover {
            color: white;
            background-color: gray;
        }
    }
}
