@def_color: hsl(0,40%,50%);
@fragHeight: 1.5em;

.bio-fragment.ui-widget
{
    position: relative;
    display: inline-block;
    height: @fragHeight;
    background-image: none;
    cursor: pointer;
    font-size: 0.75 * @fragHeight;
    line-height: 100%;
    width: 10em;

    & > svg{
        z-index: 0;
    }
}
.bio-fragment-placeholder.ui-widget-content {
    background: none;
    border-style: dotted;
    height: @fragHeight;
}
.bio-fragment-info {
    cursor: auto;

    &  > div {
        padding: 0.5em 0;
    }
    & a
    {
        display: block;
        &:hover {
            color: white;
            background-color: gray;
        }
    }
}
