.bio-filter{
    height: 1.2em;
}

.bio-panel{
    padding-top: 7px;
    & > ul{
        list-style-type: none;
         & > li{
            padding: 0.2em 0;
            text-align: center;
            border: none;
        }
    }
}

